:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}
body {
  width: 100%;
  height: 100vh;
}
.container-geral {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  min-height: 100vh;
  width: 100vw;
}
